body{
    font-family:Poppins;
    margin: 0;
    padding: 0;
    background-color: #656565;
    color: #F5FBEF;
    margin-bottom: 50px;
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main";
}

#hälsomat .wrapper{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main";
}

header{
    grid-area:header;
    display:grid;
}

main{
    grid-area:main;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#hälsomat main{
    grid-template-columns: 1fr 1fr 1fr;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    margin-top: 50px;
    border: solid #43AA8B;
    border-radius: 15px;
    border-width: 5px;
}

h1{
    display:inline-block;
    margin-left: 35px
}

h2, p{
    font-size: 21px;
    margin-left: 50px;
    margin-right: 50px;
}

h2{
    margin-top: 40px;
}

nav{
    grid-area:nav;
    display:grid;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color:#F5FBEF;
}

nav a{
    padding: 3px 7px;
    border-color: #F5FBEF;
    border: solid;
    border-radius: 15px;
    transition: padding 0.5s;
}

nav a:hover{
    padding: 3px 20px;
    border-color: #279AF1;
    border-style:dashed;
    border-radius: 15px;
}

ul{
    margin-left: 15px;
}


li{
    display:inline-block;
    list-style-type: none;
    margin-right:45px;
    font-size: 22px;
}

.hidden1{
    visibility: hidden;
    width: 0%;
    margin: 0;
    transition: margin-right, width 1.5s;
}

.key1:hover +.hidden1{
    visibility: visible;
    width: auto;
    margin-right:45px;
}